/* work sens font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* common styles  or shared styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

.title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}



/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 116px 0 20px;
}

.banner img {
    width: 100%;
}

.banner .banner-content .btn-primary {
    margin: 32px 0 50px;
}


/* main styles here */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style here */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.teams-content {
    padding: 0 70px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-content .description {
    margin: 24px 0 32px;
}


/* features section */



/*  facts section*/
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.facts-card-container .card .card-title {
    color: #727272;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.m-description {
    margin-top: 20px;
}










/* responsive media query */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav ,
    .facts-card-container 
    {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    nav .title {
        margin-bottom: 20px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content ,
    .facts-card-container 
    {
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}


/* medium or tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {
    header ,.facts-card-container {
        padding: 50px;
    }

    nav,
    .teams-container
    
    {
        flex-direction: column;
    }

    nav .title {
        margin-bottom: 20px;
    }

    .teams-content {
        margin-top: 50px;
    }
}